<script setup lang="ts">
import { BulletColor as Color } from '@/types/bullet'
import HitboxComponent from './HitboxComponent.vue'
import { useSightStore } from '@/stores/sight'
import BulletColumns from './BulletColumns.vue'
import { getColSpan, getColStart, getRowSpan, getRowStart } from '@/utils/getCssClass'
import { computed, ref, watch } from 'vue'
import { useElementBounding, useMouseInElement } from '@vueuse/core'
import BulletSvg from '@/components/svg/BulletSvg.vue'
import { usePatternStore } from '@/stores/pattern'
import PatternElementSvg from '@/components/svg/PatternElementSvg.vue'
import { PatternElementType } from '@/types/pattern.types'

const sightStore = useSightStore()
const patternStore = usePatternStore()

const boardGridEl = ref<HTMLDivElement | null>(null)

const { width, height } = useElementBounding(boardGridEl)
const bulletContainerWidth = computed(() => width.value / 5)
const bulletContainerHeight = computed(() => height.value / 7)

const { isOutside, elementX, elementY } = useMouseInElement(boardGridEl)

const mouseColSpan = computed(() =>
  patternStore.patternSelected
    ? getColSpan(patternStore.patternSelected.columnLength)
    : 'col-span-1'
)
const mouseRowSpan = computed(() =>
  patternStore.patternSelected ? getRowSpan(patternStore.patternSelected.rowLength) : 'row-span-1'
)

const mouseRowStart = computed(() => {
  const patternRow = patternStore.patternSelected?.rowLength ?? 1
  const rowStart =
    Math.ceil(elementY.value / bulletContainerHeight.value) - Math.ceil(patternRow / 2) + 1
  if (rowStart <= 1) {
    return 2
  }
  const maxRowStart = 7 + 1 - patternRow
  if (rowStart > maxRowStart) {
    return maxRowStart
  }
  return rowStart
})
const mouseColStart = computed(() => {
  const patternCol = patternStore.patternSelected?.columnLength ?? 1
  const colStart =
    Math.ceil(elementX.value / bulletContainerWidth.value) - Math.ceil(patternCol / 2) + 1
  if (colStart <= 0) {
    return 1
  }
  const maxColStart = 5 + 1 - patternCol
  if (colStart > maxColStart) {
    return maxColStart
  }
  return colStart
})
</script>

<template>
  <div class="bg-green-200 flex flex-col gap-4 px-6 items-center">
    <div class="w-full px-4">
      <div class="bg-white border border-t-0 border-blue-600 rounded-lg rounded-t-none px-4 py-1">
        Current
      </div>
    </div>
    <div
      class="grid grid-cols-5 grid-rows-7 grid-flow-col h-full w-full relative"
      v-if="sightStore.sightBoard"
    >
      <template v-for="(columns, color) in sightStore.sightBoard" :key="`column-${color}`">
        <BulletColumns :color="color" />
      </template>
      <div
        ref="boardGridEl"
        class="absolute grid grid-cols-5 grid-rows-7 grid-flow-col top-0 left-0 w-full h-full"
      >
        <template v-for="bullet in sightStore.bulletsOnBoard" :key="`bullet-${bullet.id}`">
          <BulletSvg
            :number="bullet.number"
            :color="bullet.color"
            :is-stared="bullet.isStared"
            class="relative w-full h-full transition-all duration-500 ease-in-out"
            :class="`${getColStart(bullet.column)} ${getRowStart(bullet.row)} ${bullet.startAnimation ? 'transition-all' : 'transition-none'}`"
            :style="{
              top: `${bullet.top * bulletContainerHeight}px`,
              left: `${bullet.left * bulletContainerWidth}px`
            }"
          ></BulletSvg>
        </template>
      </div>
      <div class="absolute grid grid-cols-5 grid-rows-7 grid-flow-col top-0 left-0 w-full h-full">
        <div
          v-if="!isOutside && patternStore.patternSelected"
          class="border-4 rounded border-blue grid grid-cols-subgrid grid-rows-subgrid"
          :class="`col-start-${mouseColStart} row-start-${mouseRowStart} ${mouseColSpan} ${mouseRowSpan}`"
        >
          <!-- AFFICHER EN BORDER LA FORME DU PATTERN CHOISI POUR POUVOIUR L'APPLIQUER A L'ENDROIT VOULU -->
          <template
            v-for="(rows, rowIndex) of patternStore.patternSelected.grid"
            :key="`subgrid-row-${rowIndex}`"
          >
            <template
              v-for="(patternElement, colIndex) of rows"
              :key="`subgrid-row-${rowIndex}-col-${colIndex}`"
            >
              <PatternElementSvg class="w-full h-full" :patternElement="patternElement">
              </PatternElementSvg>
            </template>
          </template>
        </div>
      </div>
    </div>
    <div class="flex h-full w-full" v-else>
      <BulletColumns :color="Color.RED" />
      <BulletColumns :color="Color.BLUE" />
      <BulletColumns :color="Color.GREEN" />
      <BulletColumns :color="Color.YELLOW" />
      <BulletColumns :color="Color.PURPLE" />
    </div>
    <HitboxComponent></HitboxComponent>
  </div>
</template>
