<template>
  <svg viewBox="0 0 32 296" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_1_2)">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M6 4.38001C6 3.09474 6 2.4521 6.19367 1.93958C6.49807 1.13399 7.13399 0.498072 7.93958 0.193668C8.4521 0 9.09474 0 10.38 0H21.62C22.9053 0 23.5479 0 24.0604 0.193668C24.866 0.498072 25.5019 1.13399 25.8063 1.93958C26 2.4521 26 3.09474 26 4.38V16.3022C23.2713 14.28 19.8795 13.0816 16.2041 13.0816C12.3431 13.0816 8.7951 14.404 6 16.6148V4.38001ZM16.2041 45.2993C19.8795 45.2993 23.2713 44.101 26 42.0787V50.5199C23.2713 48.4976 19.8795 47.2993 16.2041 47.2993C12.3431 47.2993 8.7951 48.6217 6 50.8325V41.7662C8.7951 43.9769 12.3431 45.2993 16.2041 45.2993ZM6 75.9839V85.0501C8.7951 82.8394 12.3431 81.517 16.2041 81.517C19.8795 81.517 23.2713 82.7153 26 84.7376V76.2964C23.2713 78.3187 19.8795 79.517 16.2041 79.517C12.3431 79.517 8.7951 78.1946 6 75.9839ZM6 119.268V110.202C8.7951 112.412 12.3431 113.735 16.2041 113.735C19.8795 113.735 23.2713 112.536 26 110.514V118.955C23.2713 116.933 19.8795 115.735 16.2041 115.735C12.3431 115.735 8.7951 117.057 6 119.268ZM6 144.419V153.486C8.7951 151.275 12.3431 149.952 16.2041 149.952C19.8795 149.952 23.2713 151.151 26 153.173V144.732C23.2713 146.754 19.8795 147.952 16.2041 147.952C12.3431 147.952 8.7951 146.63 6 144.419ZM6 187.703V178.637C8.7951 180.848 12.3431 182.17 16.2041 182.17C19.8795 182.17 23.2713 180.972 26 178.949V187.391C23.2713 185.368 19.8795 184.17 16.2041 184.17C12.3431 184.17 8.7951 185.492 6 187.703ZM6 212.855V221.921C8.7951 219.71 12.3431 218.388 16.2041 218.388C19.8795 218.388 23.2713 219.586 26 221.608V213.167C23.2713 215.189 19.8795 216.388 16.2041 216.388C12.3431 216.388 8.7951 215.065 6 212.855ZM6 256.139V247.072C8.7951 249.283 12.3431 250.605 16.2041 250.605C19.8795 250.605 23.2713 249.407 26 247.385V255.826C23.2713 253.804 19.8795 252.605 16.2041 252.605C12.3431 252.605 8.7951 253.928 6 256.139ZM6 281.29V291.62C6 292.905 6 293.548 6.19367 294.06C6.49807 294.866 7.13399 295.502 7.93958 295.806C8.4521 296 9.09473 296 10.38 296H21.62C22.9053 296 23.5479 296 24.0604 295.806C24.866 295.502 25.5019 294.866 25.8063 294.06C26 293.548 26 292.905 26 291.62V281.603C23.2713 283.625 19.8795 284.823 16.2041 284.823C12.3431 284.823 8.7951 283.501 6 281.29Z"
        fill="white"
      />
      <mask id="path-2-inside-1_1_2" fill="white">
        <path
          d="M31.9391 27.6055C31.7042 24.9207 30.795 22.3388 29.2958 20.0993L27.9662 20.9893C29.3155 23.0049 30.1338 25.3287 30.3452 27.745L31.9391 27.6055Z"
        />
      </mask>
      <path
        d="M31.9391 27.6055C31.7042 24.9207 30.795 22.3388 29.2958 20.0993L27.9662 20.9893C29.3155 23.0049 30.1338 25.3287 30.3452 27.745L31.9391 27.6055Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-2-inside-1_1_2)"
      />
      <mask id="path-3-inside-2_1_2" fill="white">
        <path
          d="M0.0608847 30.3945C0.295772 33.0793 1.20502 35.6612 2.70425 37.9007L4.03382 37.0107C2.68452 34.9951 1.86619 32.6713 1.6548 30.255L0.0608847 30.3945Z"
        />
      </mask>
      <path
        d="M0.0608847 30.3945C0.295772 33.0793 1.20502 35.6612 2.70425 37.9007L4.03382 37.0107C2.68452 34.9951 1.86619 32.6713 1.6548 30.255L0.0608847 30.3945Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-3-inside-2_1_2)"
      />
      <mask id="path-4-inside-3_1_2" fill="white">
        <path
          d="M0.0608849 27.6055C0.295772 24.9207 1.20502 22.3388 2.70425 20.0993L4.03382 20.9893C2.68452 23.0049 1.8662 25.3287 1.6548 27.745L0.0608849 27.6055Z"
        />
      </mask>
      <path
        d="M0.0608849 27.6055C0.295772 24.9207 1.20502 22.3388 2.70425 20.0993L4.03382 20.9893C2.68452 23.0049 1.8662 25.3287 1.6548 27.745L0.0608849 27.6055Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-4-inside-3_1_2)"
      />
      <mask id="path-5-inside-4_1_2" fill="white">
        <path
          d="M31.9391 30.3945C31.7042 33.0793 30.795 35.6612 29.2957 37.9007L27.9662 37.0107C29.3155 34.9951 30.1338 32.6713 30.3452 30.255L31.9391 30.3945Z"
        />
      </mask>
      <path
        d="M31.9391 30.3945C31.7042 33.0793 30.795 35.6612 29.2957 37.9007L27.9662 37.0107C29.3155 34.9951 30.1338 32.6713 30.3452 30.255L31.9391 30.3945Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-5-inside-4_1_2)"
      />
      <mask id="path-6-inside-5_1_2" fill="white">
        <path
          d="M31.9391 61.6055C31.7042 58.9207 30.795 56.3388 29.2958 54.0993L27.9662 54.9893C29.3155 57.0049 30.1338 59.3287 30.3452 61.745L31.9391 61.6055Z"
        />
      </mask>
      <path
        d="M31.9391 61.6055C31.7042 58.9207 30.795 56.3388 29.2958 54.0993L27.9662 54.9893C29.3155 57.0049 30.1338 59.3287 30.3452 61.745L31.9391 61.6055Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-6-inside-5_1_2)"
      />
      <mask id="path-7-inside-6_1_2" fill="white">
        <path
          d="M0.0608847 64.3945C0.295772 67.0793 1.20502 69.6612 2.70425 71.9007L4.03382 71.0107C2.68452 68.9951 1.86619 66.6713 1.6548 64.255L0.0608847 64.3945Z"
        />
      </mask>
      <path
        d="M0.0608847 64.3945C0.295772 67.0793 1.20502 69.6612 2.70425 71.9007L4.03382 71.0107C2.68452 68.9951 1.86619 66.6713 1.6548 64.255L0.0608847 64.3945Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-7-inside-6_1_2)"
      />
      <mask id="path-8-inside-7_1_2" fill="white">
        <path
          d="M0.0608849 61.6055C0.295772 58.9207 1.20502 56.3388 2.70425 54.0993L4.03382 54.9893C2.68452 57.0049 1.8662 59.3287 1.6548 61.745L0.0608849 61.6055Z"
        />
      </mask>
      <path
        d="M0.0608849 61.6055C0.295772 58.9207 1.20502 56.3388 2.70425 54.0993L4.03382 54.9893C2.68452 57.0049 1.8662 59.3287 1.6548 61.745L0.0608849 61.6055Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-8-inside-7_1_2)"
      />
      <mask id="path-9-inside-8_1_2" fill="white">
        <path
          d="M31.9391 64.3945C31.7042 67.0793 30.795 69.6612 29.2957 71.9007L27.9662 71.0107C29.3155 68.9951 30.1338 66.6713 30.3452 64.255L31.9391 64.3945Z"
        />
      </mask>
      <path
        d="M31.9391 64.3945C31.7042 67.0793 30.795 69.6612 29.2957 71.9007L27.9662 71.0107C29.3155 68.9951 30.1338 66.6713 30.3452 64.255L31.9391 64.3945Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-9-inside-8_1_2)"
      />
      <mask id="path-10-inside-9_1_2" fill="white">
        <path
          d="M31.9391 95.6055C31.7042 92.9207 30.795 90.3388 29.2958 88.0993L27.9662 88.9893C29.3155 91.0049 30.1338 93.3287 30.3452 95.745L31.9391 95.6055Z"
        />
      </mask>
      <path
        d="M31.9391 95.6055C31.7042 92.9207 30.795 90.3388 29.2958 88.0993L27.9662 88.9893C29.3155 91.0049 30.1338 93.3287 30.3452 95.745L31.9391 95.6055Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-10-inside-9_1_2)"
      />
      <mask id="path-11-inside-10_1_2" fill="white">
        <path
          d="M0.0608847 98.3945C0.295772 101.079 1.20502 103.661 2.70425 105.901L4.03382 105.011C2.68452 102.995 1.86619 100.671 1.6548 98.255L0.0608847 98.3945Z"
        />
      </mask>
      <path
        d="M0.0608847 98.3945C0.295772 101.079 1.20502 103.661 2.70425 105.901L4.03382 105.011C2.68452 102.995 1.86619 100.671 1.6548 98.255L0.0608847 98.3945Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-11-inside-10_1_2)"
      />
      <mask id="path-12-inside-11_1_2" fill="white">
        <path
          d="M0.0608849 95.6055C0.295772 92.9207 1.20502 90.3388 2.70425 88.0993L4.03382 88.9893C2.68452 91.0049 1.8662 93.3287 1.6548 95.745L0.0608849 95.6055Z"
        />
      </mask>
      <path
        d="M0.0608849 95.6055C0.295772 92.9207 1.20502 90.3388 2.70425 88.0993L4.03382 88.9893C2.68452 91.0049 1.8662 93.3287 1.6548 95.745L0.0608849 95.6055Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-12-inside-11_1_2)"
      />
      <mask id="path-13-inside-12_1_2" fill="white">
        <path
          d="M31.9391 98.3945C31.7042 101.079 30.795 103.661 29.2957 105.901L27.9662 105.011C29.3155 102.995 30.1338 100.671 30.3452 98.255L31.9391 98.3945Z"
        />
      </mask>
      <path
        d="M31.9391 98.3945C31.7042 101.079 30.795 103.661 29.2957 105.901L27.9662 105.011C29.3155 102.995 30.1338 100.671 30.3452 98.255L31.9391 98.3945Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-13-inside-12_1_2)"
      />
      <mask id="path-14-inside-13_1_2" fill="white">
        <path
          d="M31.9391 129.606C31.7042 126.921 30.795 124.339 29.2958 122.099L27.9662 122.989C29.3155 125.005 30.1338 127.329 30.3452 129.745L31.9391 129.606Z"
        />
      </mask>
      <path
        d="M31.9391 129.606C31.7042 126.921 30.795 124.339 29.2958 122.099L27.9662 122.989C29.3155 125.005 30.1338 127.329 30.3452 129.745L31.9391 129.606Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-14-inside-13_1_2)"
      />
      <mask id="path-15-inside-14_1_2" fill="white">
        <path
          d="M0.0608847 132.394C0.295772 135.079 1.20502 137.661 2.70425 139.901L4.03382 139.011C2.68452 136.995 1.86619 134.671 1.6548 132.255L0.0608847 132.394Z"
        />
      </mask>
      <path
        d="M0.0608847 132.394C0.295772 135.079 1.20502 137.661 2.70425 139.901L4.03382 139.011C2.68452 136.995 1.86619 134.671 1.6548 132.255L0.0608847 132.394Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-15-inside-14_1_2)"
      />
      <mask id="path-16-inside-15_1_2" fill="white">
        <path
          d="M0.0608849 129.606C0.295772 126.921 1.20502 124.339 2.70425 122.099L4.03382 122.989C2.68452 125.005 1.8662 127.329 1.6548 129.745L0.0608849 129.606Z"
        />
      </mask>
      <path
        d="M0.0608849 129.606C0.295772 126.921 1.20502 124.339 2.70425 122.099L4.03382 122.989C2.68452 125.005 1.8662 127.329 1.6548 129.745L0.0608849 129.606Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-16-inside-15_1_2)"
      />
      <mask id="path-17-inside-16_1_2" fill="white">
        <path
          d="M31.9391 132.394C31.7042 135.079 30.795 137.661 29.2957 139.901L27.9662 139.011C29.3155 136.995 30.1338 134.671 30.3452 132.255L31.9391 132.394Z"
        />
      </mask>
      <path
        d="M31.9391 132.394C31.7042 135.079 30.795 137.661 29.2957 139.901L27.9662 139.011C29.3155 136.995 30.1338 134.671 30.3452 132.255L31.9391 132.394Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-17-inside-16_1_2)"
      />
      <mask id="path-18-inside-17_1_2" fill="white">
        <path
          d="M31.9391 163.606C31.7042 160.921 30.795 158.339 29.2958 156.099L27.9662 156.989C29.3155 159.005 30.1338 161.329 30.3452 163.745L31.9391 163.606Z"
        />
      </mask>
      <path
        d="M31.9391 163.606C31.7042 160.921 30.795 158.339 29.2958 156.099L27.9662 156.989C29.3155 159.005 30.1338 161.329 30.3452 163.745L31.9391 163.606Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-18-inside-17_1_2)"
      />
      <mask id="path-19-inside-18_1_2" fill="white">
        <path
          d="M0.0608847 166.394C0.295772 169.079 1.20502 171.661 2.70425 173.901L4.03382 173.011C2.68452 170.995 1.86619 168.671 1.6548 166.255L0.0608847 166.394Z"
        />
      </mask>
      <path
        d="M0.0608847 166.394C0.295772 169.079 1.20502 171.661 2.70425 173.901L4.03382 173.011C2.68452 170.995 1.86619 168.671 1.6548 166.255L0.0608847 166.394Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-19-inside-18_1_2)"
      />
      <mask id="path-20-inside-19_1_2" fill="white">
        <path
          d="M0.0608849 163.606C0.295772 160.921 1.20502 158.339 2.70425 156.099L4.03382 156.989C2.68452 159.005 1.8662 161.329 1.6548 163.745L0.0608849 163.606Z"
        />
      </mask>
      <path
        d="M0.0608849 163.606C0.295772 160.921 1.20502 158.339 2.70425 156.099L4.03382 156.989C2.68452 159.005 1.8662 161.329 1.6548 163.745L0.0608849 163.606Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-20-inside-19_1_2)"
      />
      <mask id="path-21-inside-20_1_2" fill="white">
        <path
          d="M31.9391 166.394C31.7042 169.079 30.795 171.661 29.2957 173.901L27.9662 173.011C29.3155 170.995 30.1338 168.671 30.3452 166.255L31.9391 166.394Z"
        />
      </mask>
      <path
        d="M31.9391 166.394C31.7042 169.079 30.795 171.661 29.2957 173.901L27.9662 173.011C29.3155 170.995 30.1338 168.671 30.3452 166.255L31.9391 166.394Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-21-inside-20_1_2)"
      />
      <mask id="path-22-inside-21_1_2" fill="white">
        <path
          d="M31.9391 197.606C31.7042 194.921 30.795 192.339 29.2958 190.099L27.9662 190.989C29.3155 193.005 30.1338 195.329 30.3452 197.745L31.9391 197.606Z"
        />
      </mask>
      <path
        d="M31.9391 197.606C31.7042 194.921 30.795 192.339 29.2958 190.099L27.9662 190.989C29.3155 193.005 30.1338 195.329 30.3452 197.745L31.9391 197.606Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-22-inside-21_1_2)"
      />
      <mask id="path-23-inside-22_1_2" fill="white">
        <path
          d="M0.0608847 200.394C0.295772 203.079 1.20502 205.661 2.70425 207.901L4.03382 207.011C2.68452 204.995 1.86619 202.671 1.6548 200.255L0.0608847 200.394Z"
        />
      </mask>
      <path
        d="M0.0608847 200.394C0.295772 203.079 1.20502 205.661 2.70425 207.901L4.03382 207.011C2.68452 204.995 1.86619 202.671 1.6548 200.255L0.0608847 200.394Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-23-inside-22_1_2)"
      />
      <mask id="path-24-inside-23_1_2" fill="white">
        <path
          d="M0.0608849 197.606C0.295772 194.921 1.20502 192.339 2.70425 190.099L4.03382 190.989C2.68452 193.005 1.8662 195.329 1.6548 197.745L0.0608849 197.606Z"
        />
      </mask>
      <path
        d="M0.0608849 197.606C0.295772 194.921 1.20502 192.339 2.70425 190.099L4.03382 190.989C2.68452 193.005 1.8662 195.329 1.6548 197.745L0.0608849 197.606Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-24-inside-23_1_2)"
      />
      <mask id="path-25-inside-24_1_2" fill="white">
        <path
          d="M31.9391 200.394C31.7042 203.079 30.795 205.661 29.2957 207.901L27.9662 207.011C29.3155 204.995 30.1338 202.671 30.3452 200.255L31.9391 200.394Z"
        />
      </mask>
      <path
        d="M31.9391 200.394C31.7042 203.079 30.795 205.661 29.2957 207.901L27.9662 207.011C29.3155 204.995 30.1338 202.671 30.3452 200.255L31.9391 200.394Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-25-inside-24_1_2)"
      />
      <mask id="path-26-inside-25_1_2" fill="white">
        <path
          d="M31.9391 231.606C31.7042 228.921 30.795 226.339 29.2958 224.099L27.9662 224.989C29.3155 227.005 30.1338 229.329 30.3452 231.745L31.9391 231.606Z"
        />
      </mask>
      <path
        d="M31.9391 231.606C31.7042 228.921 30.795 226.339 29.2958 224.099L27.9662 224.989C29.3155 227.005 30.1338 229.329 30.3452 231.745L31.9391 231.606Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-26-inside-25_1_2)"
      />
      <mask id="path-27-inside-26_1_2" fill="white">
        <path
          d="M0.0608847 234.394C0.295772 237.079 1.20502 239.661 2.70425 241.901L4.03382 241.011C2.68452 238.995 1.86619 236.671 1.6548 234.255L0.0608847 234.394Z"
        />
      </mask>
      <path
        d="M0.0608847 234.394C0.295772 237.079 1.20502 239.661 2.70425 241.901L4.03382 241.011C2.68452 238.995 1.86619 236.671 1.6548 234.255L0.0608847 234.394Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-27-inside-26_1_2)"
      />
      <mask id="path-28-inside-27_1_2" fill="white">
        <path
          d="M0.0608849 231.606C0.295772 228.921 1.20502 226.339 2.70425 224.099L4.03382 224.989C2.68452 227.005 1.8662 229.329 1.6548 231.745L0.0608849 231.606Z"
        />
      </mask>
      <path
        d="M0.0608849 231.606C0.295772 228.921 1.20502 226.339 2.70425 224.099L4.03382 224.989C2.68452 227.005 1.8662 229.329 1.6548 231.745L0.0608849 231.606Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-28-inside-27_1_2)"
      />
      <mask id="path-29-inside-28_1_2" fill="white">
        <path
          d="M31.9391 234.394C31.7042 237.079 30.795 239.661 29.2957 241.901L27.9662 241.011C29.3155 238.995 30.1338 236.671 30.3452 234.255L31.9391 234.394Z"
        />
      </mask>
      <path
        d="M31.9391 234.394C31.7042 237.079 30.795 239.661 29.2957 241.901L27.9662 241.011C29.3155 238.995 30.1338 236.671 30.3452 234.255L31.9391 234.394Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-29-inside-28_1_2)"
      />
      <mask id="path-30-inside-29_1_2" fill="white">
        <path
          d="M31.9391 265.606C31.7042 262.921 30.795 260.339 29.2958 258.099L27.9662 258.989C29.3155 261.005 30.1338 263.329 30.3452 265.745L31.9391 265.606Z"
        />
      </mask>
      <path
        d="M31.9391 265.606C31.7042 262.921 30.795 260.339 29.2958 258.099L27.9662 258.989C29.3155 261.005 30.1338 263.329 30.3452 265.745L31.9391 265.606Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-30-inside-29_1_2)"
      />
      <mask id="path-31-inside-30_1_2" fill="white">
        <path
          d="M0.0608847 268.394C0.295772 271.079 1.20502 273.661 2.70425 275.901L4.03382 275.011C2.68452 272.995 1.86619 270.671 1.6548 268.255L0.0608847 268.394Z"
        />
      </mask>
      <path
        d="M0.0608847 268.394C0.295772 271.079 1.20502 273.661 2.70425 275.901L4.03382 275.011C2.68452 272.995 1.86619 270.671 1.6548 268.255L0.0608847 268.394Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-31-inside-30_1_2)"
      />
      <mask id="path-32-inside-31_1_2" fill="white">
        <path
          d="M0.0608849 265.606C0.295772 262.921 1.20502 260.339 2.70425 258.099L4.03382 258.989C2.68452 261.005 1.8662 263.329 1.6548 265.745L0.0608849 265.606Z"
        />
      </mask>
      <path
        d="M0.0608849 265.606C0.295772 262.921 1.20502 260.339 2.70425 258.099L4.03382 258.989C2.68452 261.005 1.8662 263.329 1.6548 265.745L0.0608849 265.606Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-32-inside-31_1_2)"
      />
      <mask id="path-33-inside-32_1_2" fill="white">
        <path
          d="M31.9391 268.394C31.7042 271.079 30.795 273.661 29.2957 275.901L27.9662 275.011C29.3155 272.995 30.1338 270.671 30.3452 268.255L31.9391 268.394Z"
        />
      </mask>
      <path
        d="M31.9391 268.394C31.7042 271.079 30.795 273.661 29.2957 275.901L27.9662 275.011C29.3155 272.995 30.1338 270.671 30.3452 268.255L31.9391 268.394Z"
        stroke="white"
        stroke-width="2"
        mask="url(#path-33-inside-32_1_2)"
      />
      <path d="M14.5 10.5L19 6.25L16.5 6L17.5 2.5L13 6.75L15.5 7L14.5 10.5Z" fill="black" />
    </g>
    <defs>
      <clipPath id="clip0_1_2">
        <rect width="32" height="296" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>
