<script setup lang="ts">
import { type BulletNumber, BulletColor } from '@/types/bullet'
import { getFillColor } from '@/utils/getCssClass'
import { useMouseInElement } from '@vueuse/core'
import { computed, ref, watch } from 'vue'

const props = defineProps<{
  number: BulletNumber
  isStared: boolean
  color: BulletColor
}>()

const fillColor = getFillColor(props.color)
</script>

<template>
  <svg
    ref="svgEl"
    width="64"
    height="64"
    viewBox="0 0 64 64"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <!-- shadow -->
    <path
      d="M52 34C52 45.0457 43.0457 54 32 54C20.9543 54 12 45.0457 12 34C12 22.9543 20.9543 14 32 14C43.0457 14 52 22.9543 52 34Z"
      fill="#353535"
    />
    <!-- background -->
    <circle :class="fillColor" cx="32" cy="32" r="20" />
    <!-- red -->
    <path
      v-if="color === BulletColor.RED"
      class="fill-slate-100"
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M32.7882 18.2888L31.8828 12.8L30.9774 18.2888C30.7472 18.4457 30.5521 18.6695 30.4221 18.9603L28.3585 23.5769L28.3551 18.1566L24.5101 29.6234L24.5101 22L19.8494 34.3062L17.1282 31.1579L18.6912 34.9757C17.9234 35.0018 17.2457 35.4036 16.8844 35.9989L15.2 34.0502L16.7042 37.7244C17.2603 40.7936 18.739 43.6457 20.9752 45.8819C23.8681 48.7748 27.7917 50.4 31.8828 50.4C35.9739 50.4 39.8975 48.7748 42.7904 45.8819C45.1342 43.5381 46.6459 40.5176 47.1353 37.2796C47.155 37.149 47.1615 37.0207 47.1557 36.8957L48.3207 34.0502L46.7738 35.8399C46.3802 35.3137 45.7239 34.9743 44.9946 34.9743C44.9384 34.9743 44.8827 34.9764 44.8276 34.9804L46.3925 31.1579L43.7637 34.1993L39.0309 20.0848L39.0248 29.6393L35.1745 18.1566L35.1714 23.0496L33.3435 18.9603C33.2135 18.6695 33.0184 18.4457 32.7882 18.2888ZM39.9402 42.1628C37.5745 43.75 34.7733 44.6154 31.8828 44.6154C28.9923 44.6154 26.1911 43.75 23.8254 42.1628C23.9615 42.3153 24.1022 42.4644 24.2475 42.6097C26.2725 44.6347 29.019 45.7723 31.8828 45.7723C34.7466 45.7723 37.4931 44.6347 39.5181 42.6097C39.6634 42.4644 39.8041 42.3153 39.9402 42.1628Z"
    />
    <!-- blue -->
    <g v-if="color === BulletColor.BLUE" class="fill-slate-100">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M32.7882 18.2888L31.8828 12.8L30.9774 18.2888C30.7471 18.4457 30.552 18.6695 30.4221 18.9603L29.2683 21.5414L29.1006 20.0383C29.0003 19.1388 27.718 19.0716 27.5241 19.9557L25.5803 28.8211L25.4021 26.487C25.3331 25.5845 24.054 25.4726 23.8294 26.3494L22.2532 32.5031C21.2655 33.3551 20.5441 34.3794 20.2145 35.4732C19.805 35.1621 19.3119 34.9744 18.771 34.9744C18.7384 34.9744 18.706 34.975 18.6738 34.9764L18.0098 33.6066C17.615 32.7921 16.3838 33.1566 16.4961 34.0548L16.7673 36.2237C16.6278 36.5409 16.573 36.9003 16.6303 37.2796C17.1197 40.5176 18.6314 43.5381 20.9752 45.8819C23.8681 48.7748 27.7917 50.4 31.8828 50.4C35.9739 50.4 39.8975 48.7748 42.7904 45.8819C45.1342 43.5381 46.6459 40.5176 47.1353 37.2796C47.2006 36.8474 47.1203 36.4412 46.9352 36.0937L47.1901 34.0548C47.3024 33.1566 46.0712 32.7921 45.6764 33.6066L45.0134 34.9744L44.9946 34.9744C44.4537 34.9744 43.9606 35.1621 43.5511 35.4732C43.214 34.3546 42.4672 33.3087 41.4448 32.4454L39.8834 26.3494C39.6588 25.4726 38.3797 25.5845 38.3107 26.487L38.1325 28.821L36.1887 19.9557C35.9948 19.0716 34.7126 19.1388 34.6122 20.0383L34.455 21.447L33.3435 18.9603C33.2135 18.6695 33.0184 18.4457 32.7882 18.2888ZM39.9402 42.1628C37.5745 43.7501 34.7733 44.6154 31.8828 44.6154C28.9923 44.6154 26.1911 43.7501 23.8254 42.1629C23.9615 42.3154 24.1022 42.4644 24.2475 42.6097C26.2725 44.6347 29.019 45.7723 31.8828 45.7723C34.7466 45.7723 37.4931 44.6347 39.5181 42.6097C39.6634 42.4644 39.8041 42.3154 39.9402 42.1628Z"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M22.1552 19.7533L21.8 17.6L21.4448 19.7533C21.1708 19.8441 20.928 20.0432 20.7905 20.3507C20.7467 20.4489 20.7183 20.5487 20.7041 20.6479C20.2651 20.797 19.9201 21.1069 19.8139 21.4593C19.7442 21.4063 19.6603 21.3744 19.5682 21.3744C19.5513 21.3744 19.5346 21.3754 19.5182 21.3775C19.393 21.3034 19.2032 21.3954 19.2252 21.5714C19.2258 21.5764 19.2266 21.5812 19.2276 21.586C19.2035 21.6403 19.194 21.7018 19.2038 21.7667C19.2871 22.3179 19.5444 22.832 19.9434 23.231C20.4358 23.7234 21.1036 24 21.8 24C22.4964 24 23.1642 23.7234 23.6566 23.231C24.0556 22.832 24.3129 22.3179 24.3962 21.7667C24.4073 21.6931 24.3936 21.6239 24.362 21.5647C24.3784 21.3941 24.1941 21.3054 24.0705 21.3762C24.0577 21.375 24.0448 21.3744 24.0318 21.3744C23.9397 21.3744 23.8558 21.4063 23.7861 21.4593C23.6799 21.1069 23.3349 20.797 22.8959 20.6479C22.8817 20.5487 22.8533 20.4489 22.8095 20.3507C22.672 20.0432 22.4291 19.8441 22.1552 19.7533ZM23.1715 22.5979C22.7688 22.8681 22.292 23.0154 21.8 23.0154C21.308 23.0154 20.8312 22.8681 20.4285 22.5979C20.4517 22.6239 20.4756 22.6493 20.5004 22.674C20.845 23.0187 21.3125 23.2123 21.8 23.2123C22.2874 23.2123 22.7549 23.0187 23.0996 22.674C23.1243 22.6493 23.1483 22.6239 23.1715 22.5979Z"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M42.5552 19.7533L42.2 17.6L41.8448 19.7533C41.5708 19.8441 41.328 20.0432 41.1905 20.3507C41.1467 20.4489 41.1183 20.5487 41.1041 20.6479C40.6651 20.797 40.3201 21.1069 40.2139 21.4593C40.1442 21.4063 40.0603 21.3744 39.9682 21.3744C39.9513 21.3744 39.9346 21.3754 39.9182 21.3775C39.793 21.3034 39.6032 21.3954 39.6252 21.5714C39.6258 21.5764 39.6266 21.5812 39.6276 21.586C39.6035 21.6403 39.594 21.7018 39.6038 21.7667C39.6871 22.3179 39.9444 22.832 40.3434 23.231C40.8358 23.7234 41.5036 24 42.2 24C42.8964 24 43.5642 23.7234 44.0566 23.231C44.4556 22.832 44.7129 22.3179 44.7962 21.7667C44.8073 21.6931 44.7936 21.6239 44.762 21.5647C44.7784 21.3941 44.5941 21.3054 44.4705 21.3762C44.4577 21.375 44.4448 21.3744 44.4318 21.3744C44.3397 21.3744 44.2558 21.4063 44.1861 21.4593C44.0799 21.1069 43.7349 20.797 43.2959 20.6479C43.2817 20.5487 43.2533 20.4489 43.2095 20.3507C43.072 20.0432 42.8291 19.8441 42.5552 19.7533ZM43.5715 22.5979C43.1688 22.8681 42.692 23.0154 42.2 23.0154C41.708 23.0154 41.2312 22.8681 40.8285 22.5979C40.8517 22.6239 40.8756 22.6493 40.9004 22.674C41.245 23.0187 41.7125 23.2123 42.2 23.2123C42.6874 23.2123 43.1549 23.0187 43.4996 22.674C43.5243 22.6493 43.5483 22.6239 43.5715 22.5979Z"
      />
    </g>
    <!-- green -->
    <path
      v-if="color === BulletColor.GREEN"
      class="fill-slate-100"
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M36.1433 19.7773C36.8489 18.1988 39.0896 18.1988 39.7951 19.7773L45.9374 33.5189L47.0154 32.235C47.7509 31.3591 49.143 32.2045 48.705 33.261L47.1577 36.9937C47.1572 37.0875 47.1499 37.1829 47.1353 37.2796C46.6459 40.5176 45.1342 43.5381 42.7904 45.8819C39.8975 48.7748 35.9739 50.4 31.8828 50.4C27.7917 50.4 23.8681 48.7748 20.9752 45.8819C18.7726 43.6793 17.3049 40.8792 16.7299 37.8625L14.8224 33.261C14.3844 32.2045 15.7765 31.3591 16.512 32.235L17.8583 33.8383L24.1433 19.7773C24.8489 18.1988 27.0896 18.1988 27.7951 19.7773L29.1553 22.8202C29.3839 21.9621 30.6893 21.7903 31.0549 22.7426L32.0729 25.3945L33.0909 22.7426C33.4194 21.8867 34.5072 21.9389 34.89 22.5812L36.1433 19.7773ZM39.9402 42.1628C37.5745 43.75 34.7733 44.6154 31.8828 44.6154C28.9923 44.6154 26.1911 43.7501 23.8254 42.1629C23.9615 42.3154 24.1022 42.4644 24.2475 42.6097C26.2725 44.6347 29.019 45.7723 31.8828 45.7723C34.7466 45.7723 37.4931 44.6347 39.5181 42.6097C39.6634 42.4644 39.8041 42.3153 39.9402 42.1628Z"
    />
    <!-- yelllow -->
    <path
      v-if="color === BulletColor.YELLOW"
      class="fill-slate-100"
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M36.592 13.0217L33.3266 18.9237C33.3324 18.9358 33.338 18.948 33.3435 18.9603L33.8478 20.0884L36.1188 19.0437L34.2534 20.9959L36.6047 26.2563L39.7102 23.2564L37.4709 28.1943L38.6459 30.8228C41.0696 31.737 42.9537 33.4909 43.5511 35.4733C43.7176 35.3467 43.8979 35.2406 44.0897 35.1592L43.7423 31.6407L45.8108 35.123C46.6833 35.4539 47.2833 36.3001 47.1353 37.2796C46.6459 40.5176 45.1342 43.5381 42.7904 45.8819C39.8975 48.7748 35.9739 50.4 31.8828 50.4C27.7917 50.4 23.8681 48.7748 20.9752 45.8819C18.6314 43.5381 17.1197 40.5176 16.6303 37.2796C16.519 36.5432 16.8305 35.8822 17.3628 35.4588L19.6307 31.6407L19.2956 35.0348C19.6319 35.1135 19.9417 35.266 20.2145 35.4732C20.8119 33.4909 22.696 31.7369 25.1198 30.8228L27.6629 25.1332L21.532 25.996L29.1149 21.8847L29.8823 20.1679L26.4646 21.5771L32 16.8L36.592 13.0217ZM31.8828 44.6154C34.7733 44.6154 37.5745 43.75 39.9402 42.1628C39.8041 42.3153 39.6634 42.4644 39.5181 42.6097C37.4931 44.6347 34.7466 45.7723 31.8828 45.7723C29.019 45.7723 26.2725 44.6347 24.2475 42.6097C24.1022 42.4644 23.9615 42.3154 23.8254 42.1629C26.1911 43.7501 28.9923 44.6154 31.8828 44.6154Z"
    />
    <!-- purple -->
    <path
      v-if="color === BulletColor.PURPLE"
      class="fill-slate-100"
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M30.4221 18.9603C30.9865 17.6975 32.7791 17.6975 33.3435 18.9603L36.7343 26.5463L37.6664 25.665C38.1689 25.1898 38.9968 25.5331 39.0157 26.2244L39.0474 27.3849L40.8664 25.665C41.3689 25.1898 42.1968 25.5331 42.2157 26.2244L42.374 32.0216L44.8664 29.665C45.3689 29.1898 46.1968 29.5331 46.2157 30.2244L46.3577 35.4238C46.9173 35.8453 47.2497 36.5226 47.1353 37.2796C46.6459 40.5176 45.1342 43.5381 42.7904 45.8819C39.8975 48.7748 35.9739 50.4 31.8828 50.4C27.7917 50.4 23.8681 48.7748 20.9752 45.8819C18.6314 43.5381 17.1197 40.5176 16.6303 37.2796C16.5084 36.4733 16.8935 35.7572 17.5203 35.3446L17.6601 30.2244C17.679 29.5331 18.5069 29.1898 19.0094 29.665L21.5018 32.0216L21.6601 26.2244C21.679 25.5331 22.5069 25.1898 23.0094 25.665L24.8284 27.3849L24.8601 26.2244C24.879 25.5331 25.7069 25.1898 26.2094 25.665L27.064 26.473L30.4221 18.9603ZM39.9402 42.1628C37.5745 43.7501 34.7733 44.6154 31.8828 44.6154C28.9923 44.6154 26.1911 43.7501 23.8254 42.1629C23.9615 42.3154 24.1022 42.4644 24.2475 42.6097C26.2725 44.6347 29.019 45.7723 31.8828 45.7723C34.7466 45.7723 37.4931 44.6347 39.5181 42.6097C39.6634 42.4644 39.8041 42.3153 39.9402 42.1628Z"
    />
    <g v-if="isStared">
      <!-- star -->
      <path
        d="M31.9677 21.1776L36.1726 30.1442L36.2916 30.398L36.5701 30.4289L45.835 31.4579L38.4585 38.7115L38.2563 38.9103L38.3231 39.1859L40.4459 47.9366L32.2301 42.8734L31.9677 42.7118L31.7054 42.8734L23.4896 47.9366L25.6123 39.1859L25.6792 38.9103L25.477 38.7115L18.1004 31.4579L27.3654 30.4289L27.6439 30.398L27.7629 30.1442L31.9677 21.1776Z"
        class="stroke-slate-100"
        :class="fillColor"
      />
      <!-- number 4 -->
      <path
        v-if="number === 4"
        d="M32.0264 33.391L29.4492 37.4242H32.0264V33.391ZM31.8486 31.1488H33.9609V37.4242H35.082V39.1537H33.9609V41.3548H32.0264V39.1537H27.9795V37.1986L31.8486 31.1488Z"
        class="fill-slate-100"
      />
      <!-- number 4 -->
      <path
        v-if="number === 3"
        d="M31.0352 36.7884H29.9551V35.0111H31.0352C31.5365 35.0111 31.9238 34.9131 32.1973 34.7171C32.4753 34.5166 32.6143 34.2364 32.6143 33.8763C32.6143 33.4981 32.4753 33.2041 32.1973 32.9945C31.9238 32.7803 31.5365 32.6732 31.0352 32.6732C30.6523 32.6732 30.2422 32.7211 29.8047 32.8168C29.3672 32.9125 28.9137 33.0515 28.4443 33.2337V31.4017C28.9137 31.2604 29.3763 31.1533 29.832 31.0804C30.2878 31.003 30.7253 30.9642 31.1445 30.9642C32.2201 30.9642 33.0586 31.1989 33.6602 31.6683C34.2617 32.1377 34.5625 32.7849 34.5625 33.6097C34.5625 34.2158 34.3893 34.7126 34.043 35.1C33.6966 35.4828 33.2022 35.7334 32.5596 35.8519C33.2887 35.9795 33.8447 36.2712 34.2275 36.7269C34.6104 37.1781 34.8018 37.7728 34.8018 38.5111C34.8018 39.5 34.485 40.2543 33.8516 40.7738C33.2181 41.2933 32.2975 41.5531 31.0898 41.5531C30.5749 41.5531 30.0667 41.5098 29.5654 41.4232C29.0687 41.3366 28.5925 41.2113 28.1367 41.0472V39.1742C28.5651 39.3884 29.0277 39.5524 29.5244 39.6664C30.0212 39.7757 30.543 39.8304 31.0898 39.8304C31.6367 39.8304 32.0697 39.7051 32.3887 39.4545C32.7077 39.1992 32.8672 38.8574 32.8672 38.4291C32.8672 37.905 32.7077 37.5017 32.3887 37.2191C32.0697 36.932 31.6185 36.7884 31.0352 36.7884Z"
        class="fill-slate-100"
      />
      <!-- number 2 -->
      <path
        v-if="number === 2"
        d="M30.249 39.5775H34.5488V41.3548H28.0684V39.6322L29.1621 38.4701C30.4609 37.0892 31.2494 36.2393 31.5273 35.9203C31.8691 35.5283 32.1152 35.182 32.2656 34.8812C32.416 34.5759 32.4912 34.2751 32.4912 33.9789C32.4912 33.5231 32.3522 33.1722 32.0742 32.9261C31.8008 32.6755 31.4111 32.5502 30.9053 32.5502C30.5453 32.5502 30.1397 32.6231 29.6885 32.7689C29.2419 32.9102 28.7747 33.1175 28.2871 33.391V31.5111C28.7747 31.3334 29.251 31.1989 29.7158 31.1078C30.1852 31.0121 30.6341 30.9642 31.0625 30.9642C32.1426 30.9642 32.9902 31.2171 33.6055 31.723C34.2253 32.2243 34.5352 32.9102 34.5352 33.7806C34.5352 34.1817 34.4668 34.5576 34.3301 34.9086C34.1979 35.2595 33.9678 35.6491 33.6397 36.0775C33.3981 36.3874 32.735 37.0847 31.6504 38.1693C31.0625 38.7572 30.5954 39.2266 30.249 39.5775Z"
        class="fill-slate-100"
      />
      <!-- number 1 -->
      <path
        v-if="number === 1"
        d="M28.5674 39.5775H30.8232V32.9535L28.7246 33.473V31.6546L30.8369 31.1488H32.7852V39.5775H35.041V41.3548H28.5674V39.5775Z"
        class="fill-slate-100"
      />
    </g>
    <g v-else>
      <!-- number 4 -->
      <path
        v-if="number === 4"
        d="M32.1768 30.7607L28.8633 35.9463H32.1768V30.7607ZM31.9482 27.8779H34.6641V35.9463H36.1055V38.1699H34.6641V41H32.1768V38.1699H26.9736V35.6562L31.9482 27.8779Z"
        :class="fillColor"
      />
      <!-- number 3 -->
      <path
        v-if="number === 3"
        d="M30.9023 35.1289H29.5137V32.8438H30.9023C31.5469 32.8438 32.0449 32.7178 32.3965 32.4658C32.7539 32.208 32.9326 31.8477 32.9326 31.3848C32.9326 30.8984 32.7539 30.5205 32.3965 30.251C32.0449 29.9756 31.5469 29.8379 30.9023 29.8379C30.4102 29.8379 29.8828 29.8994 29.3203 30.0225C28.7578 30.1455 28.1748 30.3242 27.5713 30.5586V28.2031C28.1748 28.0215 28.7695 27.8838 29.3555 27.79C29.9414 27.6904 30.5039 27.6406 31.043 27.6406C32.4258 27.6406 33.5039 27.9424 34.2773 28.5459C35.0508 29.1494 35.4375 29.9814 35.4375 31.042C35.4375 31.8213 35.2148 32.46 34.7695 32.958C34.3242 33.4502 33.6885 33.7725 32.8623 33.9248C33.7998 34.0889 34.5146 34.4639 35.0068 35.0498C35.499 35.6299 35.7451 36.3945 35.7451 37.3438C35.7451 38.6152 35.3379 39.585 34.5234 40.2529C33.709 40.9209 32.5254 41.2549 30.9727 41.2549C30.3105 41.2549 29.6572 41.1992 29.0127 41.0879C28.374 40.9766 27.7617 40.8154 27.1758 40.6045V38.1963C27.7266 38.4717 28.3213 38.6826 28.96 38.8291C29.5986 38.9697 30.2695 39.04 30.9727 39.04C31.6758 39.04 32.2324 38.8789 32.6426 38.5566C33.0527 38.2285 33.2578 37.7891 33.2578 37.2383C33.2578 36.5645 33.0527 36.0459 32.6426 35.6826C32.2324 35.3135 31.6523 35.1289 30.9023 35.1289Z"
        :class="fillColor"
      />
      <!-- number 2 -->
      <path
        v-if="number === 2"
        d="M29.8916 38.7148H35.4199V41H27.0879V38.7852L28.4941 37.291C30.1641 35.5156 31.1777 34.4229 31.5352 34.0127C31.9746 33.5088 32.291 33.0635 32.4844 32.6768C32.6777 32.2842 32.7744 31.8975 32.7744 31.5166C32.7744 30.9307 32.5957 30.4795 32.2383 30.1631C31.8867 29.8408 31.3857 29.6797 30.7354 29.6797C30.2725 29.6797 29.751 29.7734 29.1709 29.9609C28.5967 30.1426 27.9961 30.4092 27.3691 30.7607V28.3438C27.9961 28.1152 28.6084 27.9424 29.2061 27.8252C29.8096 27.7021 30.3867 27.6406 30.9375 27.6406C32.3262 27.6406 33.416 27.9658 34.207 28.6162C35.0039 29.2607 35.4023 30.1426 35.4023 31.2617C35.4023 31.7773 35.3145 32.2607 35.1387 32.7119C34.9688 33.1631 34.6729 33.6641 34.251 34.2148C33.9404 34.6133 33.0879 35.5098 31.6934 36.9043C30.9375 37.6602 30.3369 38.2637 29.8916 38.7148Z"
        :class="fillColor"
      />
      <!-- number 1 -->
      <path
        v-if="number === 1"
        d="M27.7295 38.7148H30.6299V30.1982L27.9316 30.8662V28.5283L30.6475 27.8779H33.1523V38.7148H36.0527V41H27.7295V38.7148Z"
        :class="fillColor"
      />
    </g>
  </svg>
</template>
