<script setup lang="ts">
import type { BulletNumber, BulletColor } from '@/types/bullet'
import { getFillColor } from '@/utils/getCssClass'
import { useMouseInElement } from '@vueuse/core'
import { computed, ref, watch } from 'vue'

const props = defineProps<{
  number: BulletNumber
  isStared: boolean
  color: BulletColor
}>()

const fillColor = getFillColor(props.color)
</script>

<template>
  <svg
    ref="svgEl"
    width="64"
    height="64"
    viewBox="0 0 64 64"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <!-- shadow -->
    <path
      d="M51 34C51 45.0457 42.0457 54 31 54C19.9543 54 11 45.0457 11 34C11 22.9543 19.9543 14 31 14C42.0457 14 51 22.9543 51 34Z"
      fill="#353535"
    />

    <circle :class="fillColor" cx="32" cy="32" r="20" />
    <!-- Star -->
    <path
      v-if="isStared"
      class="fill-white"
      d="M32 18L36.1432 26.6738L45.3148 27.6738L38.0858 34.6525L40.229 43.3262L32 38.3475L23.771 43.3262L25.9142 34.6525L18.6852 27.6738L27.8568 26.6738L32 18Z"
    />
    <!-- Text 4 -->
    <path
      v-if="number === 4"
      :class="isStared ? fillColor : 'fill-white'"
      d="M32.0264 29.0361L29.4492 33.0693H32.0264V29.0361ZM31.8486 26.7939H33.9609V33.0693H35.082V34.7988H33.9609V37H32.0264V34.7988H27.9795V32.8438L31.8486 26.7939Z"
    />
    <!-- Text 3 -->
    <path
      v-if="number === 3"
      :class="isStared ? fillColor : 'fill-white'"
      d="M31.0352 32.4336H29.9551V30.6562H31.0352C31.5365 30.6562 31.9238 30.5583 32.1973 30.3623C32.4753 30.1618 32.6143 29.8815 32.6143 29.5215C32.6143 29.1432 32.4753 28.8493 32.1973 28.6396C31.9238 28.4255 31.5365 28.3184 31.0352 28.3184C30.6523 28.3184 30.2422 28.3662 29.8047 28.4619C29.3672 28.5576 28.9137 28.6966 28.4443 28.8789V27.0469C28.9137 26.9056 29.3763 26.7985 29.832 26.7256C30.2878 26.6481 30.7253 26.6094 31.1445 26.6094C32.2201 26.6094 33.0586 26.8441 33.6602 27.3135C34.2617 27.7829 34.5625 28.43 34.5625 29.2549C34.5625 29.861 34.3893 30.3577 34.043 30.7451C33.6966 31.1279 33.2021 31.3786 32.5596 31.4971C33.2887 31.6247 33.8447 31.9163 34.2275 32.3721C34.6104 32.8232 34.8018 33.418 34.8018 34.1562C34.8018 35.1452 34.485 35.8994 33.8516 36.4189C33.2181 36.9385 32.2975 37.1982 31.0898 37.1982C30.5749 37.1982 30.0667 37.1549 29.5654 37.0684C29.0687 36.9818 28.5924 36.8564 28.1367 36.6924V34.8193C28.5651 35.0335 29.0277 35.1976 29.5244 35.3115C30.0212 35.4209 30.543 35.4756 31.0898 35.4756C31.6367 35.4756 32.0697 35.3503 32.3887 35.0996C32.7077 34.8444 32.8672 34.5026 32.8672 34.0742C32.8672 33.5501 32.7077 33.1468 32.3887 32.8643C32.0697 32.5771 31.6185 32.4336 31.0352 32.4336Z"
    />
    <!-- Text 2 -->
    <path
      v-if="number === 2"
      :class="isStared ? fillColor : 'fill-white'"
      d="M30.249 35.2227H34.5488V37H28.0684V35.2773L29.1621 34.1152C30.4609 32.7344 31.2493 31.8844 31.5273 31.5654C31.8691 31.1735 32.1152 30.8271 32.2656 30.5264C32.416 30.221 32.4912 29.9202 32.4912 29.624C32.4912 29.1683 32.3522 28.8174 32.0742 28.5713C31.8008 28.3206 31.4111 28.1953 30.9053 28.1953C30.5452 28.1953 30.1396 28.2682 29.6885 28.4141C29.2419 28.5553 28.7747 28.7627 28.2871 29.0361V27.1562C28.7747 26.9785 29.251 26.8441 29.7158 26.7529C30.1852 26.6572 30.6341 26.6094 31.0625 26.6094C32.1426 26.6094 32.9902 26.8623 33.6055 27.3682C34.2253 27.8695 34.5352 28.5553 34.5352 29.4258C34.5352 29.8268 34.4668 30.2028 34.3301 30.5537C34.1979 30.9046 33.9678 31.2943 33.6396 31.7227C33.3981 32.0326 32.735 32.7298 31.6504 33.8145C31.0625 34.4023 30.5954 34.8717 30.249 35.2227Z"
    />
    <!-- Text 1 -->
    <path
      v-if="number === 1"
      :class="isStared ? fillColor : 'fill-white'"
      d="M28.5674 35.2227H30.8232V28.5986L28.7246 29.1182V27.2998L30.8369 26.7939H32.7852V35.2227H35.041V37H28.5674V35.2227Z"
    />
  </svg>
</template>
