<script setup lang="ts">
import { BulletColor } from '@/types/bullet'
import { PatternElementType, type PatternGridElement } from '@/types/pattern.types'

defineProps<{
  patternElement: PatternGridElement
}>()
</script>

<template>
  <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
    <!-- pattern any -->
    <path
      v-if="patternElement.type === PatternElementType.ANY_BULLET"
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M32 62C48.5685 62 62 48.5685 62 32C62 15.4315 48.5685 2 32 2C15.4315 2 2 15.4315 2 32C2 48.5685 15.4315 62 32 62ZM32 58C46.3594 58 58 46.3594 58 32C58 17.6406 46.3594 6 32 6C17.6406 6 6 17.6406 6 32C6 46.3594 17.6406 58 32 58Z"
      fill="black"
    />
    <!-- no bullet -->
    <g v-if="patternElement.type === PatternElementType.NO_BULLET">
      <mask id="path-1-inside-1_70_28" fill="white">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M6.01923 47C14.3035 61.3488 32.6512 66.265 47 57.9808C61.3488 49.6965 66.265 31.3488 57.9808 17C49.6965 2.65122 31.3488 -2.26503 17 6.01924C2.65122 14.3035 -2.26504 32.6512 6.01923 47ZM9.48333 45C16.663 57.4356 32.5644 61.6964 45 54.5167C57.4356 47.337 61.6964 31.4356 54.5167 19C47.337 6.56439 31.4356 2.30364 19 9.48334C6.56438 16.663 2.30363 32.5644 9.48333 45Z"
        />
      </mask>
      <path
        d="M48 59.7128C50.2261 58.4276 52.2413 56.9136 54.032 55.217L51.2808 52.3134C49.716 53.796 47.9526 55.1214 46 56.2487L48 59.7128ZM60.1266 47.2699C62.5292 42.8348 63.8565 37.8814 63.9932 32.8392L59.9947 32.7307C59.875 37.1445 58.7127 41.4822 56.6095 45.3645L60.1266 47.2699ZM62.6888 22.9095C61.9863 20.5448 60.998 18.2261 59.7128 16L56.2487 18C57.376 19.9526 58.2405 21.9821 58.8544 24.0485L62.6888 22.9095ZM59.7128 16C58.4276 13.7739 56.9136 11.7587 55.217 9.968L52.3134 12.7192C53.796 14.2839 55.1214 16.0474 56.2487 18L59.7128 16ZM47.2699 3.87344C42.8348 1.47076 37.8814 0.143507 32.8392 0.00675016L32.7307 4.00528C37.1445 4.12499 41.4822 5.28729 45.3645 7.39049L47.2699 3.87344ZM22.9095 1.31121C20.5448 2.01366 18.2261 3.00195 16 4.28719L18 7.75129C19.9526 6.62395 21.9821 5.75945 24.0485 5.1456L22.9095 1.31121ZM16 4.28719C13.7739 5.57242 11.7586 7.08636 9.96799 8.78297L12.7191 11.6866C14.2839 10.204 16.0474 8.87862 18 7.75129L16 4.28719ZM3.87344 16.7301C1.47075 21.1652 0.143501 26.1186 0.00674382 31.1608L4.00527 31.2693C4.12499 26.8555 5.28728 22.5178 7.39049 18.6355L3.87344 16.7301ZM1.31121 41.0905C2.01365 43.4552 3.00194 45.7739 4.28718 48L7.75128 46C6.62395 44.0474 5.75944 42.0179 5.1456 39.9515L1.31121 41.0905ZM4.28718 48C5.57242 50.2261 7.08635 52.2413 8.78297 54.032L11.6866 51.2808C10.204 49.7161 8.87862 47.9526 7.75128 46L4.28718 48ZM16.7301 60.1266C21.1652 62.5292 26.1186 63.8565 31.1608 63.9933L31.2693 59.9947C26.8555 59.875 22.5177 58.7127 18.6355 56.6095L16.7301 60.1266ZM41.0905 62.6888C43.4552 61.9863 45.7739 60.9981 48 59.7128L46 56.2487C44.0474 57.376 42.0178 58.2406 39.9515 58.8544L41.0905 62.6888ZM46 56.2487C47.9475 55.1243 49.7108 53.7997 51.2778 52.315L48.5267 49.4114C47.1856 50.682 45.674 51.8181 44 52.7846L46 56.2487ZM56.6108 45.3609C58.7131 41.4803 59.8744 37.1464 59.994 32.7345L55.9955 32.6261C55.8929 36.4094 54.8966 40.1278 53.0938 43.4556L56.6108 45.3609ZM58.8526 24.0456C58.2379 21.9764 57.3731 19.9475 56.2487 18L52.7846 20C53.7511 21.674 54.4921 23.4137 55.0182 25.1847L58.8526 24.0456ZM56.2487 18C55.1243 16.0525 53.7997 14.2891 52.315 12.7222L49.4113 15.4733C50.682 16.8144 51.8181 18.326 52.7846 20L56.2487 18ZM45.3609 7.38918C41.4803 5.28689 37.1464 4.12561 32.7345 4.00595L32.6261 8.00448C36.4094 8.10709 40.1278 9.10342 43.4556 10.9062L45.3609 7.38918ZM24.0456 5.14742C21.9764 5.76212 19.9475 6.62689 18 7.75129L20 11.2154C21.674 10.2489 23.4137 9.50791 25.1847 8.98182L24.0456 5.14742ZM18 7.75129C16.0525 8.87569 14.2891 10.2003 12.7222 11.685L15.4733 14.5886C16.8144 13.318 18.326 12.1819 20 11.2154L18 7.75129ZM7.38917 18.6391C5.28688 22.5197 4.1256 26.8536 4.00594 31.2655L8.00447 31.3739C8.10709 27.5906 9.10341 23.8722 10.9062 20.5444L7.38917 18.6391ZM5.14742 39.9544C5.76211 42.0236 6.62688 44.0525 7.75128 46L11.2154 44C10.2489 42.326 9.5079 40.5863 8.98181 38.8153L5.14742 39.9544ZM7.75128 46C8.87568 47.9475 10.2003 49.7109 11.685 51.2778L14.5886 48.5267C13.318 47.1856 12.1819 45.674 11.2154 44L7.75128 46ZM18.6391 56.6108C22.5197 58.7131 26.8536 59.8744 31.2655 59.9941L31.3739 55.9955C27.5906 55.8929 23.8722 54.8966 20.5444 53.0938L18.6391 56.6108ZM39.9544 58.8526C42.0236 58.2379 44.0525 57.3731 46 56.2487L44 52.7846C42.326 53.7511 40.5863 54.4921 38.8153 55.0182L39.9544 58.8526ZM49 61.4449C51.3628 60.0807 53.504 58.4725 55.4076 56.6688L49.9053 50.8616C48.4534 52.2372 46.8158 53.4683 45 54.5167L49 61.4449ZM61.8851 48.2225C64.4375 43.5111 65.8472 38.2499 65.9925 32.8934L57.9954 32.6765C57.8843 36.776 56.8044 40.806 54.851 44.4118L61.8851 48.2225ZM64.606 22.3399C63.8592 19.8262 62.809 17.3628 61.4449 15L54.5167 19C55.565 20.8159 56.3677 22.7008 56.9372 24.6181L64.606 22.3399ZM61.4449 15C60.0807 12.6372 58.4725 10.496 56.6688 8.59242L50.8616 14.0947C52.2372 15.5466 53.4683 17.1841 54.5167 19L61.4449 15ZM48.2225 2.11491C43.5111 -0.437506 38.2499 -1.84724 32.8934 -1.99251L32.6765 6.00454C36.776 6.11573 40.806 7.19556 44.4118 9.14902L48.2225 2.11491ZM22.3399 -0.605986C19.8262 0.140761 17.3628 1.19094 15 2.55513L19 9.48334C20.8158 8.43495 22.7008 7.63234 24.618 7.0628L22.3399 -0.605986ZM15 2.55513C12.6372 3.91932 10.496 5.52753 8.59242 7.33115L14.0947 13.1384C15.5466 11.7628 17.1841 10.5317 19 9.48334L15 2.55513ZM2.11491 15.7775C-0.437513 20.4889 -1.84724 25.7501 -1.99252 31.1066L6.00454 31.3235C6.11573 27.224 7.19555 23.194 9.14901 19.5882L2.11491 15.7775ZM-0.605992 41.6601C0.140756 44.1738 1.19094 46.6372 2.55513 49L9.48333 45C8.43495 43.1841 7.63233 41.2992 7.06279 39.3819L-0.605992 41.6601ZM2.55513 49C3.91932 51.3628 5.52753 53.504 7.33114 55.4076L13.1384 49.9053C11.7628 48.4534 10.5317 46.8159 9.48333 45L2.55513 49ZM15.7775 61.8851C20.4889 64.4375 25.7501 65.8472 31.1066 65.9925L31.3235 57.9955C27.224 57.8843 23.194 56.8044 19.5881 54.851L15.7775 61.8851ZM41.66 64.606C44.1738 63.8592 46.6371 62.8091 49 61.4449L45 54.5167C43.1841 55.565 41.2992 56.3677 39.3819 56.9372L41.66 64.606ZM47 57.9808C49.0843 56.7774 50.9735 55.3585 52.6534 53.7668L47.1511 47.9595C45.9229 49.1232 44.5373 50.165 43 51.0526L47 57.9808ZM58.3693 46.3136C60.6214 42.1566 61.8651 37.5148 61.9933 32.7888L53.9963 32.5719C53.9022 36.041 52.9883 39.4515 51.3352 42.5029L58.3693 46.3136ZM60.7698 23.4761C60.1108 21.2577 59.1841 19.0843 57.9808 17L51.0526 21C51.9401 22.5373 52.6192 24.1323 53.101 25.7542L60.7698 23.4761ZM57.9808 17C56.7774 14.9157 55.3585 13.0265 53.7668 11.3466L47.9595 16.8489C49.1232 18.0771 50.165 19.4627 51.0526 21L57.9808 17ZM46.3136 5.63065C42.1566 3.37862 37.5148 2.13486 32.7887 2.00668L32.5718 10.0037C36.041 10.0978 39.4515 11.0117 42.5029 12.6648L46.3136 5.63065ZM23.4761 3.23023C21.2577 3.88922 19.0843 4.81589 17 6.01924L21 12.9474C22.5373 12.0599 24.1323 11.3808 25.7542 10.899L23.4761 3.23023ZM17 6.01924C14.9157 7.22259 13.0265 8.64151 11.3466 10.2332L16.8489 16.0405C18.0771 14.8768 19.4627 13.835 21 12.9474L17 6.01924ZM5.63064 17.6864C3.37862 21.8434 2.13486 26.4852 2.00668 31.2112L10.0037 31.4281C10.0978 27.959 11.0117 24.5485 12.6647 21.4971L5.63064 17.6864ZM3.23022 40.5239C3.88922 42.7423 4.81588 44.9157 6.01923 47L12.9474 43C12.0599 41.4627 11.3808 39.8677 10.899 38.2458L3.23022 40.5239ZM6.01923 47C7.22258 49.0843 8.64151 50.9735 10.2332 52.6534L16.0405 47.1511C14.8768 45.9229 13.835 44.5373 12.9474 43L6.01923 47ZM17.6864 58.3694C21.8434 60.6214 26.4852 61.8651 31.2112 61.9933L31.4281 53.9963C27.959 53.9022 24.5485 52.9883 21.4971 51.3352L17.6864 58.3694ZM40.5239 60.7698C42.7423 60.1108 44.9157 59.1841 47 57.9808L43 51.0526C41.4627 51.9401 39.8677 52.6192 38.2458 53.101L40.5239 60.7698Z"
        fill="black"
        mask="url(#path-1-inside-1_70_28)"
      />
    </g>
    <!-- pattern destory -->
    <path
      v-if="patternElement.type === PatternElementType.DESTROY"
      d="M42.9644 29.6302L54.6274 9.37259L34.3698 21.0356L32 10L29.6302 21.0356L9.37259 9.37259L21.0356 29.6302L10 32L21.0356 34.3698L9.37259 54.6274L29.6302 42.9644L32 54L34.3698 42.9644L54.6274 54.6274L42.9644 34.3698L54 32L42.9644 29.6302Z"
      fill="black"
    />
    <!-- pattern same -->
    <g v-if="patternElement.type === PatternElementType.SAME_NUMBER">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M32 62C48.5685 62 62 48.5685 62 32C62 15.4315 48.5685 2 32 2C15.4315 2 2 15.4315 2 32C2 48.5685 15.4315 62 32 62ZM32 58C46.3594 58 58 46.3594 58 32C58 17.6406 46.3594 6 32 6C17.6406 6 6 17.6406 6 32C6 46.3594 17.6406 58 32 58Z"
        fill="black"
      />
      <path d="M16 20H48V28H16V20Z" fill="black" />
      <path d="M16 36H48V44H16V36Z" fill="black" />
    </g>
    <!-- pattern numbers -->
    <g v-if="patternElement.type === PatternElementType.NUMBERED_BULLET">
      <!-- circle -->
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M32 62C48.5685 62 62 48.5685 62 32C62 15.4315 48.5685 2 32 2C15.4315 2 2 15.4315 2 32C2 48.5685 15.4315 62 32 62ZM32 58C46.3594 58 58 46.3594 58 32C58 17.6406 46.3594 6 32 6C17.6406 6 6 17.6406 6 32C6 46.3594 17.6406 58 32 58Z"
        fill="black"
      />
      <!-- 1 -->
      <path
        v-if="patternElement.number === 1"
        d="M21.9453 42.9062H29.6797V20.1953L22.4844 21.9766V15.7422L29.7266 14.0078H36.4062V42.9062H44.1406V49H21.9453V42.9062Z"
        fill="black"
      />
      <!-- 2 -->
      <path
        v-if="patternElement.number === 2"
        d="M27.7109 42.9062H42.4531V49H20.2344V43.0938L23.9844 39.1094C28.4375 34.375 31.1406 31.4609 32.0938 30.3672C33.2656 29.0234 34.1094 27.8359 34.625 26.8047C35.1406 25.7578 35.3984 24.7266 35.3984 23.7109C35.3984 22.1484 34.9219 20.9453 33.9688 20.1016C33.0312 19.2422 31.6953 18.8125 29.9609 18.8125C28.7266 18.8125 27.3359 19.0625 25.7891 19.5625C24.2578 20.0469 22.6562 20.7578 20.9844 21.6953V15.25C22.6562 14.6406 24.2891 14.1797 25.8828 13.8672C27.4922 13.5391 29.0312 13.375 30.5 13.375C34.2031 13.375 37.1094 14.2422 39.2188 15.9766C41.3438 17.6953 42.4062 20.0469 42.4062 23.0312C42.4062 24.4062 42.1719 25.6953 41.7031 26.8984C41.25 28.1016 40.4609 29.4375 39.3359 30.9062C38.5078 31.9688 36.2344 34.3594 32.5156 38.0781C30.5 40.0938 28.8984 41.7031 27.7109 42.9062Z"
        fill="black"
      />
      <!-- 3 -->
      <path
        v-if="patternElement.number === 3"
        d="M30.4062 33.3438H26.7031V27.25H30.4062C32.125 27.25 33.4531 26.9141 34.3906 26.2422C35.3438 25.5547 35.8203 24.5938 35.8203 23.3594C35.8203 22.0625 35.3438 21.0547 34.3906 20.3359C33.4531 19.6016 32.125 19.2344 30.4062 19.2344C29.0938 19.2344 27.6875 19.3984 26.1875 19.7266C24.6875 20.0547 23.1328 20.5312 21.5234 21.1562V14.875C23.1328 14.3906 24.7188 14.0234 26.2812 13.7734C27.8438 13.5078 29.3438 13.375 30.7812 13.375C34.4688 13.375 37.3438 14.1797 39.4062 15.7891C41.4688 17.3984 42.5 19.6172 42.5 22.4453C42.5 24.5234 41.9062 26.2266 40.7188 27.5547C39.5312 28.8672 37.8359 29.7266 35.6328 30.1328C38.1328 30.5703 40.0391 31.5703 41.3516 33.1328C42.6641 34.6797 43.3203 36.7188 43.3203 39.25C43.3203 42.6406 42.2344 45.2266 40.0625 47.0078C37.8906 48.7891 34.7344 49.6797 30.5938 49.6797C28.8281 49.6797 27.0859 49.5312 25.3672 49.2344C23.6641 48.9375 22.0312 48.5078 20.4688 47.9453V41.5234C21.9375 42.2578 23.5234 42.8203 25.2266 43.2109C26.9297 43.5859 28.7188 43.7734 30.5938 43.7734C32.4688 43.7734 33.9531 43.3438 35.0469 42.4844C36.1406 41.6094 36.6875 40.4375 36.6875 38.9688C36.6875 37.1719 36.1406 35.7891 35.0469 34.8203C33.9531 33.8359 32.4062 33.3438 30.4062 33.3438Z"
        fill="black"
      />
      <!-- 4 -->
      <path
        v-if="patternElement.number === 4"
        d="M33.8047 21.6953L24.9688 35.5234H33.8047V21.6953ZM33.1953 14.0078H40.4375V35.5234H44.2812V41.4531H40.4375V49H33.8047V41.4531H19.9297V34.75L33.1953 14.0078Z"
        fill="black"
      />
    </g>

    <!-- pattern color -->
    <g v-if="patternElement.type === PatternElementType.COLORED_BULLET">
      <!-- circle -->
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M32 62C48.5685 62 62 48.5685 62 32C62 15.4315 48.5685 2 32 2C15.4315 2 2 15.4315 2 32C2 48.5685 15.4315 62 32 62ZM32 58C46.3594 58 58 46.3594 58 32C58 17.6406 46.3594 6 32 6C17.6406 6 6 17.6406 6 32C6 46.3594 17.6406 58 32 58Z"
        fill="black"
      />
      <!-- red -->
      <path
        v-if="patternElement.color === BulletColor.RED"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M32.9853 14.861L31.8535 8L30.7217 14.861C30.4339 15.0571 30.1901 15.3369 30.0276 15.7003L27.4481 21.4712L27.4438 14.6958L22.6376 29.0293V19.5L16.8117 34.8827L13.4103 30.9473L15.364 35.7196C14.4043 35.7523 13.5571 36.2545 13.1054 36.9987L11 34.5627L12.8802 39.1555C13.5754 42.9921 15.4238 46.5572 18.219 49.3524C21.8351 52.9685 26.7396 55 31.8535 55C36.9674 55 41.8719 52.9685 45.488 49.3524C48.4178 46.4226 50.3074 42.647 50.9191 38.5995C50.9438 38.4362 50.9518 38.2759 50.9446 38.1197L52.4008 34.5627L50.4673 36.7998C49.9753 36.1421 49.1549 35.7179 48.2432 35.7179C48.173 35.7179 48.1034 35.7205 48.0344 35.7255L49.9906 30.9473L46.7046 34.7491L40.7886 17.106L40.781 29.0492L35.9681 14.6958L35.9642 20.812L33.6794 15.7003C33.5169 15.3369 33.273 15.0571 32.9853 14.861ZM41.9252 44.7036C38.9681 46.6876 35.4666 47.7692 31.8535 47.7692C28.2404 47.7692 24.7389 46.6876 21.7817 44.7036C21.9518 44.8942 22.1277 45.0805 22.3094 45.2621C24.8406 47.7933 28.2737 49.2154 31.8535 49.2154C35.4332 49.2154 38.8664 47.7933 41.3976 45.2621C41.5792 45.0805 41.7551 44.8942 41.9252 44.7036Z"
        fill="#DC2626"
        fill-opacity="0.5"
      />
      <!-- blue -->
      <g v-if="patternElement.color === BulletColor.BLUE">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M32.9853 14.861L31.8535 8L30.7217 14.861C30.4339 15.0571 30.1901 15.3369 30.0276 15.7003L28.5854 18.9268L28.3758 17.0479C28.2503 15.9235 26.6475 15.8395 26.4052 16.9446L23.9754 28.0263L23.7526 25.1088C23.6664 23.9807 22.0675 23.8408 21.7867 24.9368L19.8165 32.6288C18.5819 33.6939 17.6801 34.9742 17.2681 36.3415C16.7563 35.9526 16.1399 35.718 15.4637 35.718C15.4231 35.718 15.3826 35.7188 15.3422 35.7205L14.5123 34.0082C14.0187 32.9901 12.4798 33.4458 12.6201 34.5685L12.9591 37.2796C12.7848 37.6761 12.7162 38.1253 12.7879 38.5995C13.3996 42.647 15.2892 46.4226 18.219 49.3524C21.8351 52.9685 26.7396 55 31.8535 55C36.9674 55 41.8719 52.9685 45.488 49.3524C48.4178 46.4226 50.3074 42.647 50.9191 38.5995C51.0007 38.0593 50.9004 37.5515 50.669 37.1171L50.9877 34.5685C51.128 33.4458 49.589 32.9901 49.0955 34.0082L48.2667 35.718L48.2432 35.7179C47.5671 35.7179 46.9507 35.9526 46.4389 36.3415C46.0175 34.9433 45.0839 33.6359 43.8061 32.5568L41.8543 24.9368C41.5735 23.8408 39.9746 23.9807 39.8884 25.1088L39.6656 28.0263L37.2359 16.9446C36.9935 15.8395 35.3907 15.9235 35.2652 17.0479L35.0688 18.8087L33.6794 15.7003C33.5169 15.3369 33.273 15.0571 32.9853 14.861ZM41.9252 44.7036C38.9681 46.6876 35.4666 47.7692 31.8535 47.7692C28.2404 47.7692 24.7389 46.6876 21.7818 44.7036C21.9518 44.8942 22.1277 45.0805 22.3094 45.2621C24.8406 47.7933 28.2738 49.2154 31.8535 49.2154C35.4332 49.2154 38.8664 47.7933 41.3976 45.2621C41.5792 45.0805 41.7551 44.8942 41.9252 44.7036Z"
          fill="#0284C7"
          fill-opacity="0.5"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M19.694 16.6916L19.25 14L18.806 16.6916C18.4635 16.8051 18.16 17.054 17.9881 17.4384C17.9333 17.5611 17.8979 17.6858 17.8801 17.8099C17.3313 17.9963 16.9001 18.3837 16.7674 18.8241C16.6802 18.7579 16.5753 18.7179 16.4602 18.7179C16.4391 18.7179 16.4182 18.7193 16.3977 18.7219C16.2412 18.6293 16.004 18.7442 16.0315 18.9643C16.0323 18.9704 16.0333 18.9765 16.0345 18.9825C16.0044 19.0503 15.9925 19.1272 16.0048 19.2084C16.1089 19.8974 16.4305 20.54 16.9292 21.0387C17.5447 21.6542 18.3795 22 19.25 22C20.1204 22 20.9552 21.6542 21.5707 21.0387C22.0694 20.54 22.3911 19.8974 22.4952 19.2084C22.5091 19.1164 22.492 19.0299 22.4525 18.9559C22.473 18.7426 22.2426 18.6318 22.0881 18.7203C22.0722 18.7187 22.056 18.7179 22.0397 18.7179C21.9246 18.7179 21.8197 18.7579 21.7326 18.8241C21.5999 18.3837 21.1687 17.9963 20.6199 17.8099C20.6021 17.6858 20.5667 17.5611 20.5118 17.4384C20.34 17.054 20.0364 16.8051 19.694 16.6916ZM20.9643 20.2474C20.461 20.5851 19.865 20.7692 19.25 20.7692C18.635 20.7692 18.039 20.5851 17.5356 20.2474C17.5646 20.2799 17.5945 20.3116 17.6255 20.3425C18.0563 20.7733 18.6407 21.0154 19.25 21.0154C19.8593 21.0154 20.4437 20.7733 20.8745 20.3425C20.9054 20.3116 20.9354 20.2799 20.9643 20.2474Z"
          fill="#0284C7"
          fill-opacity="0.5"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M45.194 16.6916L44.75 14L44.306 16.6916C43.9635 16.8051 43.66 17.054 43.4881 17.4384C43.4333 17.5611 43.3979 17.6858 43.3801 17.8099C42.8313 17.9963 42.4001 18.3837 42.2674 18.8241C42.1802 18.7579 42.0753 18.7179 41.9602 18.7179C41.9391 18.7179 41.9182 18.7193 41.8977 18.7219C41.7412 18.6293 41.504 18.7442 41.5315 18.9643C41.5323 18.9704 41.5333 18.9765 41.5345 18.9825C41.5044 19.0503 41.4925 19.1272 41.5048 19.2084C41.6089 19.8974 41.9305 20.54 42.4292 21.0387C43.0447 21.6542 43.8795 22 44.75 22C45.6204 22 46.4552 21.6542 47.0707 21.0387C47.5694 20.54 47.8911 19.8974 47.9952 19.2084C48.0091 19.1164 47.992 19.0299 47.9525 18.9559C47.973 18.7426 47.7426 18.6318 47.5881 18.7203C47.5722 18.7187 47.556 18.7179 47.5397 18.7179C47.4246 18.7179 47.3197 18.7579 47.2326 18.8241C47.0999 18.3837 46.6687 17.9963 46.1199 17.8099C46.1021 17.6858 46.0667 17.5611 46.0118 17.4384C45.84 17.054 45.5364 16.8051 45.194 16.6916ZM46.4643 20.2474C45.961 20.5851 45.365 20.7692 44.75 20.7692C44.135 20.7692 43.539 20.5851 43.0356 20.2474C43.0646 20.2799 43.0945 20.3116 43.1255 20.3425C43.5563 20.7733 44.1407 21.0154 44.75 21.0154C45.3593 21.0154 45.9437 20.7733 46.3745 20.3425C46.4054 20.3116 46.4354 20.2799 46.4643 20.2474Z"
          fill="#0284C7"
          fill-opacity="0.5"
        />
      </g>
      <!-- green -->
      <path
        v-if="patternElement.color === BulletColor.GREEN"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M37.6356 15.7003C38.3412 14.1219 40.5819 14.1219 41.2874 15.7003L49.4217 33.8986L51.8135 31.0503C52.549 30.1744 53.9411 31.0197 53.5031 32.0763L50.9471 38.2421C50.9465 38.3593 50.9374 38.4786 50.9191 38.5995C50.3074 42.647 48.4178 46.4226 45.488 49.3524C41.8719 52.9685 36.9674 55 31.8535 55C26.7396 55 21.8351 52.9685 18.219 49.3524C15.4657 46.5991 13.6311 43.0989 12.9123 39.3281L9.90623 32.0763C9.46824 31.0197 10.8603 30.1744 11.5958 31.0503L14.3229 34.2979L22.6356 15.7003C23.3412 14.1219 25.5819 14.1219 26.2874 15.7003L28.3674 20.3536L28.3049 19.3317C28.2352 18.19 29.8268 17.8445 30.2367 18.9123L32.0911 23.7431L33.9455 18.9123C34.3554 17.8445 35.9469 18.19 35.8772 19.3317L35.8558 19.6823L37.6356 15.7003ZM41.9253 44.7035C38.9681 46.6875 35.4666 47.7692 31.8535 47.7692C28.2404 47.7692 24.7389 46.6876 21.7818 44.7036C21.9519 44.8942 22.1278 45.0805 22.3094 45.2621C24.8406 47.7933 28.2738 49.2154 31.8535 49.2154C35.4332 49.2154 38.8664 47.7933 41.3976 45.2621C41.5793 45.0804 41.7552 44.8942 41.9253 44.7035Z"
        fill="#059669"
        fill-opacity="0.5"
      />
      <!-- yellow -->
      <path
        v-if="patternElement.color === BulletColor.YELLOW"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M37.7401 8.27707L33.6583 15.6546C33.6655 15.6697 33.6725 15.685 33.6794 15.7004L34.3097 17.1105L37.1485 15.8046L34.8167 18.2448L37.7559 24.8203L41.6378 21.0705L38.8387 27.2429L40.3073 30.5285C43.337 31.6712 45.6921 33.8636 46.4389 36.3416C46.647 36.1834 46.8724 36.0508 47.1121 35.949L46.6779 31.5508L49.2635 35.9037C50.3542 36.3174 51.1041 37.3751 50.9191 38.5995C50.3074 42.647 48.4178 46.4226 45.488 49.3524C41.8719 52.9685 36.9674 55 31.8535 55C26.7396 55 21.8351 52.9685 18.219 49.3524C15.2892 46.4226 13.3996 42.647 12.7879 38.5995C12.6488 37.679 13.0381 36.8527 13.7035 36.3234L16.5384 31.5508L16.1195 35.7935C16.5399 35.8919 16.9272 36.0825 17.2681 36.3415C18.0149 33.8636 20.3701 31.6712 23.3997 30.5285L26.5786 23.4165L18.915 24.495L28.3936 19.3559L29.3529 17.2099L25.0807 18.9714L32 13L37.7401 8.27707ZM31.8535 47.7692C35.4666 47.7692 38.9682 46.6876 41.9253 44.7035C41.7552 44.8942 41.5793 45.0805 41.3976 45.2621C38.8664 47.7933 35.4332 49.2154 31.8535 49.2154C28.2738 49.2154 24.8406 47.7933 22.3094 45.2621C22.1278 45.0805 21.9519 44.8942 21.7818 44.7036C24.7389 46.6876 28.2404 47.7692 31.8535 47.7692Z"
        fill="#D97706"
        fill-opacity="0.5"
      />
      <!-- purple -->
      <path
        v-if="patternElement.color === BulletColor.PURPLE"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M30.0276 15.7003C30.7332 14.1219 32.9739 14.1219 33.6794 15.7003L37.9179 25.1828L39.083 24.0812C39.7111 23.4873 40.746 23.9164 40.7696 24.7805L40.8092 26.2311L43.083 24.0812C43.7111 23.4873 44.746 23.9164 44.7696 24.7805L44.9675 32.027L48.083 29.0812C48.7111 28.4873 49.746 28.9164 49.7696 29.7805L49.9471 36.2798C50.6467 36.8066 51.0621 37.6533 50.9191 38.5995C50.3074 42.647 48.4178 46.4226 45.488 49.3524C41.8719 52.9685 36.9674 55 31.8535 55C26.7396 55 21.8351 52.9685 18.219 49.3524C15.2892 46.4226 13.3996 42.647 12.7879 38.5995C12.6356 37.5915 13.1169 36.6965 13.9004 36.1808L14.0751 29.7805C14.0987 28.9164 15.1337 28.4873 15.7618 29.0812L18.8772 32.027L19.0751 24.7805C19.0987 23.9164 20.1337 23.4873 20.7618 24.0812L23.0355 26.2311L23.0751 24.7805C23.0987 23.9164 24.1337 23.4873 24.7618 24.0812L25.83 25.0913L30.0276 15.7003ZM41.9253 44.7035C38.9682 46.6875 35.4666 47.7692 31.8535 47.7692C28.2404 47.7692 24.7389 46.6876 21.7818 44.7036C21.9519 44.8942 22.1278 45.0805 22.3094 45.2621C24.8406 47.7933 28.2738 49.2154 31.8535 49.2154C35.4332 49.2154 38.8664 47.7933 41.3976 45.2621C41.5793 45.0804 41.7552 44.8942 41.9253 44.7035Z"
        fill="#7C3AED"
        fill-opacity="0.5"
      />
    </g>
  </svg>
</template>
