<script setup lang="ts">
import ActionPointTrackSvg from '@/components/svg/ActionPointTrackSvg.vue'
import ActionContainer from './ActionContainer.vue'
import PowerupContainer from './PowerupContainer.vue'
</script>

<template>
  <div class="bg-green-100 flex gap-4 items-start p-4">
    <ActionPointTrackSvg class="py-4 h-full shrink-0"></ActionPointTrackSvg>
    <div class="grid gap-4 grid-cols-2 w-full pt-16">
      <ActionContainer></ActionContainer>
      <ActionContainer></ActionContainer>
      <ActionContainer></ActionContainer>
      <ActionContainer></ActionContainer>
      <ActionContainer></ActionContainer>
      <PowerupContainer></PowerupContainer>
      <PowerupContainer></PowerupContainer>
      <PowerupContainer></PowerupContainer>
    </div>
  </div>
</template>
