<script setup lang="ts">
import { NOTYF_INJECTION_KEY } from '@/main'
import type { Bullet } from '@/types/bullet'
import { computed, inject, onMounted, ref } from 'vue'
import { useSightStore } from '@/stores/sight'
import { useCurrentBagStore } from '@/stores/current-bag'
import { usePatternStore } from '@/stores/pattern'
import { Heroine } from '@/types/heroine.types'

const sightStore = useSightStore()
const patternStore = usePatternStore()
const currentBagStore = useCurrentBagStore()

const notyf = inject(NOTYF_INJECTION_KEY)
const pickedBullet = ref<Bullet>()
const refillCurrentBag = () => {
  currentBagStore.refill()
}

const pickOne = async () => {
  try {
    await sightStore.pickOne()
  } catch (error) {
    console.warn(`${error}`)
    notyf?.error({ message: `${error}` })
  }
}
const patterSelected = computed(() => patternStore.patternSelected)
onMounted(() => {
  patternStore.initialize(Heroine.ESFIR_VOLKOVA)
})
</script>

<template>
  <div class="bg-blue-300 flex flex-col justify-between pt-4">
    <div class="flex flex-col gap-4">
      <div class="pl-4">Heroine info</div>
      <div
        class="place-self-end rounded-lg border border-r-0 rounded-r-none border-blue-900 bg-black bg-opacity-25 text-white py-1 px-2"
      >
        Heroine phrase
      </div>
    </div>
    <div class="flex gap-4 justify-center">
      <div class="p-4 border border-blue bg-green-300 self-center cursor-pointer" @click="pickOne">
        pick one
      </div>
      <div
        class="p-4 border border-blue bg-green-300 self-center cursor-pointer"
        @click="refillCurrentBag"
      >
        Refill
      </div>
    </div>
    <div class="bg-green-100 p-4 rounded">
      <div class="flex gap-2">
        <template v-for="pattern in patternStore.patternsInHand" :key="pattern.name">
          <div
            class="bg-blue-200 rounded-2xl p-4 cursor-pointer"
            :class="patternStore.patternSelected?.id === pattern.id ? 'border border-red' : ''"
            @click="() => patternStore.selectPattern(pattern.id)"
          >
            {{ pattern.name }}
          </div>
        </template>
      </div>
    </div>
    <div class="px-4">
      <div
        class="border border-b-0 rounded-lg rounded-b-none border-blue-900 p-4 bg-black bg-opacity-25 text-white"
      >
        Life and ability
      </div>
    </div>
  </div>
</template>
